<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MessagesCrudSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="MessagesCrudSoap1" />
                <binding name="LoginCrudsSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="LoginCrudsSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44308/MessagesCrud.asmx"
                binding="basicHttpBinding" bindingConfiguration="MessagesCrudSoap"
                contract="ServiceReference2.MessagesCrudSoap" name="MessagesCrudSoap" />
            <endpoint address="https://localhost:44308/LoginCruds.asmx" binding="basicHttpBinding"
                bindingConfiguration="LoginCrudsSoap" contract="ServiceReference1.LoginCrudsSoap"
                name="LoginCrudsSoap" />
        </client>
    </system.serviceModel>
</configuration>